<section class="my-4">
  <%= button "Guess!", to: Routes.live_path(@conn, PentoWeb.WrongLive), method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</section>
